*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}



.pomodoro {
   background-color:  #660b0b;
}

.counter {
    background: #ccc;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.timer { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 210px;
    height: 15%;
    border-radius: 15px;
}

span {
    font-size: 3rem;
    margin: 0 15px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
}

#alert {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

/* BOOTSTRAP CUSTOM */

.display-4 {
    color: #fff;
}

