@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto';
}



.pomodoro {
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05), 0px 2px 25px rgba(0, 0, 0, 0.24), 0px 3px 10px rgba(0, 0, 0, 0.22);

   position: relative;
   color: #fff;
   background-color: #D05E5E;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   margin: 0 auto;
   margin-top: 73px;
}

.work-counter {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.counter {
    width: 35px;
    height: 24px;
    margin: 0 2.5px;
    background: rgba(196, 196, 196, 0.6);
    border-radius: 7px;
}


.userMin {
    background: transparent;
    color: #fff;
    display: none;
    border: none;
    outline: none;
    margin-right: 44.2px;
    width: 85px;
    height: 75px;
    font-size: 72px;
}

.buttons {
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: 14px;
    width: 80%;
    justify-content: space-between;
  }

  .btn {
    background: #FFFFFF;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05), 
                0px 2px 25px rgba(0, 0, 0, 0.24),
                0px 3px 10px rgba(0, 0, 0, 0.22);
  }
    .btn:focus {
        outline: none;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05), 
                    0px 2px 25px rgba(0, 0, 0, 0.24),
                    0px 3px 10px rgba(0, 0, 0, 0.22);
    }

.start {
  margin-top: 35px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.start,
.stop {
    opacity: 1;
    transition: all 1s ease;
}

.info,
.reset {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* span {
    font-size: 3rem;
    margin: 0 15px;
} */

#minutes {
  font-size: 72px;
  position: absolute;
  left: 18%;
  right: 44%;
  top: 23%;
  bottom: 39.5%;  
}

#sec {
  font-size: 48px;
  position: absolute;
  left: 57.5%;
  right: 17%;
  top: 20%;
  bottom: 44.5%;
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    transition: opacity .3s ease;
}

#alert {
    display: none;
    background-color: rgba(0, 0, 0, 0.432);
}

.alert-box {
    background-color: rgba(255, 255, 255, 0.966);
}

.chime {
    display: none;
}

.aboutTimer,
.howUse,
.howBuilt {
    cursor: pointer;
}
/* BOOTSTRAP CUSTOM */

.display-4 {
    color: #fff;
}

.modal-title {
    color: #000;
    font-size: 2em;
}

.modal-content {
    border: none;
    background-color: transparent;
}

.card {
    border: none;
}

.card-header {
    background-color: transparent;
}
