*{
    margin: 0;
    padding: 0;
}


body,
.wrap,
.timer {
    display: flex;
    justify-content: center;
}


body {
    background: #660b0b;
}

.wrap {
    align-items: center;
    height: 50vh;
    width: 90%;
}

.timer {
    align-items: center;
    background-color: #cecece;
    width: 20%;
    height: 15%;
    border-radius: 15px;
    
}

span {
    font-size: 300%;
    margin: 0 15px;
}
